/*=====================================
Global
=====================================*/
body {
    color:#707070;
    font-family: Helvetica, sans-serif;
}

a {
    color: #707070;
}

/*=====================================
Header
=====================================*/
.apart-header {
    display: flex;
    justify-content: space-between;
    padding: 8vh 4vw;
}

/*=====================================
Main
=====================================*/

.hundred-main {
    height: 100vh;
    margin-top: -16vh;
}

.apart-home-main {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.apart-home-main ul {
    display: flex;
    width: 100vw;
    justify-content: center;
} 

.apart-home-main ul li {
    max-width: 33%;
    flex-basis: 33%;
    text-align: center;
} 

/*=====================================
Footer
=====================================*/
.apart-footer {
    padding: 8vh 4vw;
    background-color: #F2F2F2;
}

.apart-footer .footer-con {
    display: flex;
    justify-content: space-between;
}

.apart-footer .footer-con ul li {
    display: inline-block;
    margin: 0 1vw;
}

/*=====================================
About
=====================================*/
 .apart-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
 }
 
 .apart-about p {
     max-width: 30em;
     margin-bottom: 1em;
     line-height: 1.5;
 }

 /*=====================================
Privacy
=====================================*/
.privacy {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin: 5em 0;
    line-height: 1.5;
}

.privacy section {
    width: 50vw;
}

.privacy h1 {
    font-size: 1.5rem;
}

.privacy h1, h2, p {
    margin-bottom: 1.5em;

}

.privacy li {
    list-style-position: outside;
    list-style-type: circle;
    padding-left: 0.5em;
    margin-bottom: 1.5em;
}

.privacy a {
    text-decoration: underline;
}

.privacy .mt {
    margin-top: 2.5em;
}


/*=====================================
Media Queries
=====================================*/

@media (max-width: 993px) {
	

}

@media (max-width: 769px) {

    /*=====================================
    Home
    =====================================*/

    .apart-home-main {
        padding: 10vh 0;
    }

    .apart-home-main ul {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .apart-home-main li {
        display: flex;
        align-items: center;
    }

    /*=====================================
    About
    =====================================*/
     
     .apart-about p {
        padding: 0 5vw;
     }

}


@media (max-width: 577px) {

    /*=====================================
    Footer
    =====================================*/

    .apart-header {
        padding: 8vh 6vw;
    }

    .apart-footer .footer-con ul li {
        display: block;
        margin: 4vh 10vw;
    }

    .apart-about p {
        padding: 0 10vw;
     }

    .hundred-main {
        height: 100%;
        padding: 8vh;
        margin-top: 0;
    }

}

@media (max-width: 281px) {

}