.about {
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
}

.about main {
    align-self: center;
}

.about p {
    max-width: 30em;
    margin-bottom: 30px;
    line-height: 1.5;
}
